@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  background-color: #f5f5f5;
  color: #d63384;
  font-family: "Menlo", "Courier New", Courier, monospace;
  font-size: 0.95em;
  padding: 0.2em 0.4em;
  border-radius: 4px;
}

.view-more-button {
  position: relative;
  display: inline-block;
  color: black; /* 通常時の文字色を黒に設定 */
  text-align: center;
  overflow: hidden; /* オーバーフローを隠す */
  transition: color 0.3s ease; /* 文字色のトランジションを設定 */
}

.view-more-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: black;
  z-index: 0;
  transition: width 0.3s ease;
}

.view-more-button:hover::before {
  width: 100%;
}

.view-more-button span {
  position: relative;
  z-index: 1;
  color: black;
  transition: color 0.3s ease;
}

.view-more-button:hover span {
  color: white;
}

/* The .rainbow-text class is intended for future use or dynamic application to create text with a gradient effect. */
